@charset "UTF-8";
/** =================================================================================
* Common rules for dotclear.org & dotclear.net sites
*
* Authors: Tomek, Mega et Kozlika pour l'Association Dotclear - 2015
================================================================================== */
/* Sort of normalize - scss/all_sites/_b-normalize-like
-------------------------------------------------------- */
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

html { margin: 0; padding: 0; font-size: 100%; text-size-adjust: 100%; }

body { margin: 0; padding: 0; font-size: .875em; line-height: 1.5; }
@media screen and (min-width: 30em) { body { font-size: 100%; } }

q, cite { font-style: italic; }

q:before, q:after { content: ""; }

sup, sub { position: relative; font-size: .75em; line-height: 0; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

abbr[title] { border-bottom: 1px dotted; cursor: help; }

b, strong { font-weight: bold; }

small { font-size: 80%; }

dfn { font-style: italic; }

hr { box-sizing: content-box; height: 0; }

mark { color: #000; background: #ff0; }

code, kbd, pre, samp { font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; font-size: 1em; }

pre { white-space: pre-wrap; }

fieldset { margin: 0; padding: 0; border: none; }

input, button, select { vertical-align: middle; }

button, input, select, textarea { margin: 0; font-family: inherit; font-size: 100%; }

button, input { line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { padding: 0; border: none; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=submit]::-moz-focus-inner { padding: 0; border: 0; }

input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; }

textarea { overflow: auto; vertical-align: top; }

table { margin-bottom: 1.5em; border-collapse: collapse; }

td, th { padding: 1px; text-align: left; vertical-align: top; }

td:first-child, th:first-child { empty-cells: hide; }

/* scripts */
body > script { display: none !important; }

/* HTML5 for old browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

figure { margin: 0; }

[hidden], template { display: none; }

svg:not(:root) { overflow: hidden; }

/* viewport fixing for RWD */
@-webkit-viewport { zoom: 1.0; width: device-width; }
@-moz-viewport { zoom: 1.0; width: device-width; }
@-ms-viewport { zoom: 1.0; width: device-width; }
@-o-viewport { zoom: 1.0; width: device-width; }
@viewport { zoom: 1.0; width: device-width; }
/* Fontes - scss/all_sites/_b-fonts
-------------------------------------------------------- */
@font-face { font-family: 'Arsenal'; src: url("../fonts/Arsenal/arsenal-regular-webfont.eot"); src: local("☺"), url("../fonts/Arsenal/arsenal-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Arsenal/arsenal-regular-webfont.woff") format("woff"), url("../fonts/Arsenal/arsenal-regular-webfont.ttf") format("truetype"), url("../fonts/Arsenal/arsenal-regular-webfont.svg#ArsenalRegular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Arsenal'; src: url("../fonts/Arsenal/arsenal-bold-webfont.eot"); src: local("☺"), url("../fonts/Arsenal/arsenal-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Arsenal/arsenal-bold-webfont.woff") format("woff"), url("../fonts/Arsenal/arsenal-bold-webfont.ttf") format("truetype"), url("../fonts/Arsenal/arsenal-bold-webfont.svg#ArsenalBold") format("svg"); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Arsenal'; src: url("../fonts/Arsenal/arsenal-italic-webfont.eot"); src: local("☺"), url("../fonts/Arsenal/arsenal-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Arsenal/arsenal-italic-webfont.woff") format("woff"), url("../fonts/Arsenal/arsenal-italic-webfont.ttf") format("truetype"), url("../fonts/Arsenal/arsenal-italic-webfont.svg#ArsenalItalic") format("svg"); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Arsenal'; src: url("../fonts/Arsenal/arsenal-bolditalic-webfont.eot"); src: local("☺"), url("../fonts/Arsenal/arsenal-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Arsenal/arsenal-bolditalic-webfont.woff") format("woff"), url("../fonts/Arsenal/arsenal-bolditalic-webfont.ttf") format("truetype"), url("../fonts/Arsenal/arsenal-bolditalic-webfont.svg#ArsenalBoldItalic") format("svg"); font-weight: bold; font-style: italic; }
@font-face { font-family: 'Srcsanspro'; src: url("../fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot"); src: local("☺"), url("../fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Regular-webfont.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Regular-webfont.svg#SrcsansproRegular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Srcsanspro'; src: url("../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.eot"); src: local("☺"), url("../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.svg#SrcsansproSemibold") format("svg"); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Srcsanspro'; src: url("../fonts/SourceSansPro/SourceSansPro-It-webfont.eot"); src: local("☺"), url("../fonts/SourceSansPro/SourceSansPro-It-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-It-webfont.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-It-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-It-webfont.svg#SrcsansproItalic") format("svg"); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Srcsanspro'; src: url("../fonts/SourceSansPro/SourceSansPro-SemiboldIt-webfont.eot"); src: local("☺"), url("../fonts/SourceSansPro/SourceSansPro-SemiboldIt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-SemiboldIt-webfont.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-SemiboldIt-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-SemiboldIt-webfont.svg#SrcsansproSemiboldItalic") format("svg"); font-weight: bold; font-style: italic; }
/* balises html - scss/all_sites/_b-html-tags
-------------------------------------------------------- */
body { color: #000; background-color: #fff; font-family: Srcsanspro, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { margin: 1em 0 .5em; line-height: 1.25; }

h1, h2 { font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif; }

h1, h2, h3, h4 { font-weight: normal; }

h1, .h1-like { margin: 0; font-size: 2.25em; }

h2, .h2-like { font-size: 1.75em; }

h3, .h3-like { font-size: 1.5em; }

h4, .h4-like { font-size: 1.125em; }

h5, .h5-like { font-size: 1em; }

h6, .h6-like { font-size: .75em; }

ul, ol { margin: 1em 0; padding-left: 2em; }

p { margin: 1.5em 0 .5em; }

blockquote { margin: 1em 3em; }

blockquote, q { font-style: italic; }

blockquote em, q em { font-style: normal; }

cite { font-size: .9em; }

code, pre { color: #913d88; background: rgba(0, 0, 0, 0.04); font-size: .875em; }

code { padding: 2px 4px; }

pre { overflow: auto; margin: 1.5em 1em; padding: 0 .5em; background: #e0eef8; background-image: linear-gradient(#e0eef8 50%, #fff 50%); background-repeat: repeat; background-position: 0 0; background-size: 3em 3em; border: 1px solid #e9cbe6; line-height: 1.5em; white-space: pre-wrap; word-wrap: break-word; }

hr { width: 60%; height: 1px; height: 1px; border: 0; border-top: 1px solid #ddd; }

em { font-style: italic; }

strong { font-weight: bold; }

i, b { font-weight: normal; font-style: normal; }

kbd { padding: 0 2px; border: 1px solid #6d6e74; }

p:first-child, ul:first-child, ol:first-child, dl:first-child, blockquote:first-child, pre:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }

img, table, td, blockquote, code, pre, textarea, input, video { max-width: 100%; }

img { height: auto; vertical-align: middle; }

ul, ol, dl { margin: 1em 0 .5em 1.5em; }

ol { margin-left: 2em; }

ul ul, ol ol { margin-top: .5em; }

ul { list-style-type: circle; }

ul.unstyled { list-style: none; }

ul.risette { margin: 0; padding: 0; list-style: none; }

ul ul { list-style-type: disc; }

ul ul ul { list-style: square; }

ol { margin: 0 0 1em 2em; padding: 0; list-style-type: decimal; }

ol ol { list-style-type: upper-roman; }

ol ol ol { list-style-type: lower-alpha; }

ol ol ol ol { list-style-type: lower-greek; }

dt { margin: 1em 0 0 0; padding: 0; font-weight: bold; }

dd { margin: 0 0 0 1em; padding: 0; }

acronym, acronym { border-bottom: 1px dotted #ddd; cursor: help; }

/* liens par défaut - scss/all_sites/_b-links
-------------------------------------------------------- */
a { color: #000; background: transparent; text-decoration-color: #999999; }

a:hover, a:focus { text-decoration: none; }

a:visited { color: #000; }

a:link, a:visited { transition: .3s; }

a:hover { background: #cbe2f3; }

a:focus { color: #fff; background: #4c4c4c; }

a img { border: none; }

/* formulaires - scss/all_sites/_b-forms
-------------------------------------------------------- */
fieldset { margin: 1em 0; padding: .5em; background: #ececec; border: 1px solid #ddd; }

legend { margin: 0 0 .7em 0; font-weight: bold; }

input, textarea, select, option { font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Corbel, Verdana, "Verdana Ref", sans-serif; font-size: 1em; line-height: 1.25em; }

input, textarea { border-width: 1px; }

input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], textarea { background: #fff; border-style: solid; border-color: #ddd; }

input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, textarea:focus { background: #f5f5f5; border-color: #a5cc52; }

.controlset { margin-left: 170px; }

.controlset label, .area label { display: inline; float: none; }

.area textarea { display: block; width: 100%; }

.area .note { margin-left: 0; }

.note { clear: left; margin: 0 0 0 170px; font-style: italic; }

.required label, .required span.label { font-weight: bold; }

/* A remplacer par l'info en dur dans la source et abbr */
.required label:before, .required span.label:before { color: #c44d58; font-weight: bold; content: "* "; }

.controlset label:after { content: ""; }

/* boutons - scss/all_sites/_b-buttons
-------------------------------------------------------- */
button, .button, input[type=button], input[type=reset], input[type=submit], .pagination a, .navlinks a, a.dl { position: relative; display: inline-block; padding: .5em .75em; border-radius: .25em; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); font-size: .875em; line-height: normal !important; text-align: center; text-decoration: none !important; }
button:disabled, .button:disabled, input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled, .pagination a:disabled, .navlinks a:disabled, a.dl:disabled { cursor: default; }
button:disabled:hover, .button:disabled:hover, input[type=button]:disabled:hover, input[type=reset]:disabled:hover, input[type=submit]:disabled:hover, .pagination a:disabled:hover, .navlinks a:disabled:hover, a.dl:disabled:hover { box-shadow: none; }
button:hover, .button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, .pagination a:hover, .navlinks a:hover, a.dl:hover, button:hover, .button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, .pagination a:hover, .navlinks a:hover, a.dl:hover, button.hover, .hover.button, input.hover[type=button], input.hover[type=reset], input.hover[type=submit], .pagination a.hover, .navlinks a.hover, a.hover.dl { box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }
button:active, .button:active, input[type=button]:active, input[type=reset]:active, input[type=submit]:active, .pagination a:active, .navlinks a:active, a.dl:active, button.active, .active.button, input.active[type=button], input.active[type=reset], input.active[type=submit], .pagination a.active, .navlinks a.active, a.active.dl { box-shadow: none; }

.btn-simple { color: #fff; background-color: #137bbb; background-image: linear-gradient(to bottom, #0080ce, #0e5d8d); border: 1px solid #116ca4; }
.btn-simple:hover, .btn-simple:focus { background-color: #137bbb; background-image: none; }

.btn-highlight { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9); color: #000; background-color: #b8e356; background-image: linear-gradient(to bottom, #c0f742, #a6dc2a); border: 1px solid #afdf40; }
.btn-highlight:hover, .btn-highlight:focus { background-color: #b8e356; background-image: none; }

.btn-neutral { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9); color: #000; background-color: #f9f9f9; background-image: linear-gradient(to bottom, #faf8f8, #e0e0e0); border: 1px solid #ececec; }
.btn-neutral:hover, .btn-neutral:focus { background-color: #f9f9f9; background-image: none; }

.btn-delete { border-color: #c44d58; color: #c44d58; background-color: #fff; background-image: linear-gradient(to bottom, white, #e6e6e6); border: 1px solid #f2f2f2; }
.btn-delete:hover, .btn-delete:focus { background-color: #fff; background-image: none; }
.btn-delete:hover, .btn-delete:focus { color: #fff; background-image: linear-gradient(to bottom, #dc3545, #a73742); border-color: #c44d58; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }

.btn-disabled { background-image: none; cursor: default; color: #000; background-color: #fff; background-image: linear-gradient(to bottom, white, #e6e6e6); border: 1px solid #f2f2f2; }
.btn-disabled:hover, .btn-disabled:focus { background-color: #fff; background-image: none; }
.btn-disabled:hover { box-shadow: none; }

/* Classes utilitaires - scss/all_sites/_b-utils + viewport fixing
-------------------------------------------------------- */
.smaller { font-size: .75em; }

.small { font-size: .875em; }

.big { font-size: 1.125em; }

.bigger { font-size: 1.25em; }

.biggest { font-size: 1.375em; }

.txtleft { text-align: left; }

.txtright { text-align: right; }

.txtcenter { text-align: center; }

.center { margin-right: auto; margin-left: auto; }

.left { float: left; }

img.left { margin-right: 1em; }

.right { float: right; }

img.right { margin-left: 1em; }

img.left, img.right { margin-bottom: 5px; }

.inbl { display: inline-block; vertical-align: middle; }

.fieldset { margin: 1em 0; padding: .5em; background: #f9f9f9; border: 1px solid #ddd; }

.visually-hidden { position: absolute; left: -7000px; overflow: hidden; }

[aria-hidden="true"] { display: none; }

.header:after, .inner-header:after, .inner-subnav:after, #wrapper:after, .pagination:after, .navlinks:after, .short .post-content:after, #sidebar:after, #home-main:after, .features:after, .da-zone:after, .codev-zone:after, .clearfix:after { content: ''; display: table; clear: both; }

.risette { margin: 0; padding: 0; }

#logo { width: 13em; }
@media screen and (min-width: 40em) { #logo { width: 16em; } }

#logo-square { fill: #f9f9f9; }

#logo-otclear { fill: #fff; stroke: #fff; }

#logo-d { fill: #6d6e74; stroke: #6d6e74; }

@media screen and (min-width: 40em) { #logo-d, #logo-otclear { stroke: none; } }
#logo-feuille { fill: #a5cc52; }

#logo-tige { fill: #7da230; }

a:hover #logo-d, a:hover #logo-feuille, a:focus #logo-d, a:focus #logo-feuille { fill: #7da230; }

a:focus #logo-tige, a:hover #logo-tige { fill: #a5cc52; }

a:focus #logo-otclear, a:hover #logo-otclear { fill: #6d6e74; }

/* Mon compte - scss/all_sites/_m-connexion
-------------------------------------------------------- */
.compte { position: absolute; z-index: 1000; top: .25em; right: 0; width: 24em; margin: 0 auto; color: #fff; font-size: .875em; text-align: right; }

.compte .expander { margin-bottom: 0; font-size: 1em; font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Corbel, Verdana, "Verdana Ref", sans-serif; }

.compte .collapse-trigger { background-color: #6d6e74; border: none; border-radius: 0; color: #fff; padding-left: 1em; padding-right: 32px; background: #6d6e74 url(../i/account.svg) no-repeat center right; }
.compte .collapse-trigger:focus { background-color: #000; border: 1px dotted #fff; }
.compte .collapse-trigger[aria-expanded="true"] { border-top-left-radius: .5em; border-top-right-radius: .5em; border: 1px solid #ddd; border-bottom: none; }

.login-box { padding: 2em 2em 1em 2em; color: #fff; background-color: #6d6e74; border: 1px solid #ddd; border-bottom-right-radius: .5em; border-bottom-left-radius: .5em; border-top-left-radius: .5em; box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.6); text-align: left; }

.login-box form { font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Corbel, Verdana, "Verdana Ref", sans-serif; }

.login-box input[type=text], .login-box input[type=password] { width: 100%; padding: 0 .25em; display: block; line-height: 1.5; color: #137bbb; }

.forgot-password { font-size: .915em; font-style: italic; color: #f9f9f9; }

.send-login { margin-top: 3em; margin-bottom: 1em; text-align: center; }
.send-login .btn-highlight { padding-left: 3em; padding-right: 3em; font-size: 1em; }

.more-account { text-align: center; }

.more-account-link { color: #fff !important; text-decoration: none; border-bottom: 1px solid #ddd; }
.more-account-link:hover, .more-account-link:focus { color: #000; }

/* retour haut de page - scss/all_sites/_to-top
// use with script totop.js
-------------------------------------------------------- */
#toTop { position: fixed; right: 10px; bottom: 10px; display: none; width: 110px; padding: 5px; color: #000; background: #f9f9f9; border: 1px solid #aaa; border-radius: 3px; font-size: 1em; text-align: center; cursor: pointer; }

/* Liens d'évitement - scss/all_sites/_m-skip-links
-------------------------------------------------------- */
.skip-links { position: absolute; }

.skip-links a { position: absolute; left: -7000px; padding: .5em; color: #000; background: #000; text-decoration: none; }

.skip-links a:focus { position: static; color: #fff; }

/* main-nav et sub-nav - scss/all_sites/_m-navigation
-------------------------------------------------------- */
/* main-nav */
.nav-primary { font: normal 1em Arsenal, "arial narrow", "futura condensed", arial, sans-serif; }

.info-navs { position: absolute; left: -999em; }

.nav-primary ul { border: 1px solid #ddd; }

.nav-primary li { border-bottom: 1px solid #eee; }

.nav-primary li:last-child { border-bottom: 0; }

.nav-primary a { display: block; padding: .5em .8em; text-decoration: none; }

.nav-primary a:hover, .nav-primary a:focus, .nav-primary .cur { color: #000; background-color: #efefef; }

.nav-primary .cur { font-weight: bold; }

.nav-primary .cur a { color: #ba3e49; font-weight: bold; }

.nav-primary a img { vertical-align: top; }

/* sub-nav */
#subnav { clear: both; padding: .25em 0; background: #fff; line-height: 1.8; }

#subnav ul { margin: 0 .5em; padding: 0 .5em; background-color: #a2cbe9; text-align: left; }

#subnav li { display: inline; padding: 0 .5em; border-right: 1px solid #137bbb; font-size: .875em; }

#subnav li:last-child { padding-right: 0; border-right: none; }

#subnav a { text-decoration: none; }

#subnav a:hover, #subnav a:focus { text-decoration: underline; }

#subnav li.cur a { font-weight: bold; }

#switchlangs { float: left; margin: 0 0 0 .5em; font-size: .875em; line-height: 2; }
@media screen and (max-width: 40em) { #switchlangs { float: none; } }

#switchlangs a { text-decoration: underline; }

.tinynav_label, .tinynav { display: none; }

/**
*   Un poil de jQuery pour présenter le menu principal
*   comme un sélecteur (et une icône "hamburger")
*   Le js ajoute une class "nav-menu" au body lorsque
*   ses liens ne tiennent plus sur la même ligne
*/
.nav-menu #nav { position: relative; overflow: hidden; margin: 0; background: #fff; text-align: left; }

.nav-menu #nav a { padding: .5em .8em; }

.nav-menu #nav .info-navs { position: absolute; top: 0; right: 0; left: auto; display: block; width: 4em; padding: .55em 0; background: #ccc url(../i/hamburger.png) no-repeat center 0.9em; text-indent: -999em; cursor: pointer; }

.nav-menu #nav.expanded h3 { background-position: center .5em; }

.nav-menu #nav li { display: none; clear: left; }

.nav-menu #nav.expanded li, .nav-menu #nav li.cur { display: list-item; }

.nav-menu #nav li.cur { border-bottom-width: 0; }

.nav-menu #nav.expanded li.cur { border-bottom-width: 1px; }

/**
*  MEDIA QUERIES pour le header et la navigation secondaire
*
*  - mobiles : connexion centrée, espace vertical réduit,
*    logo en plus petit, items du sous-menu en "quadrillage",
*    switcher de langue sous le sous-menu
*  - écrans > 672px : menu principal sur une ligne avec onglets,
*    navigation secondaire et switcher sur une seule ligne
*/
@media screen and (max-width: 30em) { .nav-menu #nav .info-navs { width: 38px; background-color: #ececec; }
  .nav-menu #nav li.cur { background: #fff; }
  #subnav ul { padding: 0; background: #fff; }
  #subnav li { display: block; float: left; width: 50%; padding: 0; border-right: none; border-bottom: 1px solid #ccc; line-height: 2; }
  #subnav li:nth-child(2n+1):last-child { width: 100%; }
  #subnav li a { display: block; padding: 0 .5em; }
  /* on supprime la liste et on affiche le sous menu en select si js est présent */
  .nav-menu #sub-nav { display: none; }
  .nav-menu #subnav { padding: .5em; }
  .nav-menu .tinynav_label { display: inline; padding: 0 .5em; }
  .nav-menu .tinynav { position: relative; display: inline-block; width: 100%; color: 0 1px 2px rgba(0, 0, 0, 0.13), inset 0 1px 0 #fff; background-color: #fafafa; background-image: linear-gradient(bottom, #efefef 0%, #fafafa 100%); background-clip: padding-box; border: 1px solid #ddd; border-radius: 4px; box-shadow: inset 0 1px 0 #fff; font-family: inherit; }
  .tinynav option { padding-left: 1em; }
  /* switcher */
  #switchlangs { clear: both; margin-top: .5em; } }
@media screen and (min-width: 42em) { .nav-primary { padding-left: 1em; padding-right: 1em; background: transparent; text-align: right; }
  .info-navs { left: -999px; }
  .nav-primary ul { margin-bottom: 0; border: none; }
  .nav-primary li { display: inline-block; border-color: #cecece; border-bottom: none; }
  .nav-primary a { display: block; padding: 5px 10px; text-decoration: none; }
  .nav-primary a:hover, .nav-primary a:focus, .nav-primary .cur { border-top-left-radius: .25em; border-top-right-radius: .25em; }
  #subnav ul { float: right; background: #efefef; }
  #subnav { background: #efefef; border-bottom: 1px solid #ccc; } }
/* sub-nav */
.lang a { text-decoration: none; }

.simple-menu { display: inline-block; list-style: none; }

.simple-menu li { display: inline; padding: .2em .4em; }

.simple-menu a { text-decoration: none; }

.simple-menu .active a { color: #ba3e49; }

/* Header - scss/all_sites/_l-header
-------------------------------------------------------- */
.header { background: #a2cbe9; }

.header :focus { outline-color: #fff; }

#top { position: relative; margin-top: 0; padding-top: .5em; width: 100%; }
@media screen and (min-width: 40em) { #top { padding-top: 1.5em; } }

.title { margin-bottom: 1.5em; font-size: 1em; text-align: left; }

.title a { display: block; }
.title a:hover, .title a:focus { background-color: transparent; }

.inner-header { padding: 0 .5em; }

/* Footer - scss/all_sites/_l-layout
-------------------------------------------------------- */
.inner-header, .inner-subnav, #wrapper { max-width: 60em; margin: 0 auto; }
@media screen and (min-width: 81em) { .inner-header, .inner-subnav, #wrapper { max-width: 80em; } }

#wrapper { clear: both; overflow: hidden; }

/* Footer - scss/all_sites/_l-footer
-------------------------------------------------------- */
#footer { clear: both; margin: 3em 0 0; padding: 0; color: #4c4c4c; font: normal .875em Arsenal, "arial narrow", "futura condensed", arial, sans-serif; text-align: center; }

#footer a { color: #4c4c4c; }

.icon a { margin-right: .5em; }

.icon a:hover, .icon a:focus { background-color: transparent; }

.icon a:hover img, .icon a:focus img { transition: all .5s linear; transform: rotate(360deg); }

.footer-content { margin-top: -1.5em; padding: 1.5em 0 1em; background-color: #a2cbe9; }

.foot-nav li { display: inline-block; }

.foot-nav a { text-decoration: none; }

.foot-nav a:hover, .foot-nav a:focus { text-decoration: underline; }

/** --------------------------------------------------------
* CSS propres au blog - blog.scss
* -------------------------------------------------------- */
/* layout des blocs du wrapper - scss/blog/_l-wrapper
-------------------------------------------------------- */
#wrapper { padding-right: .5em; padding-left: .5em; }

#content { max-width: 45em; margin-top: 2em; }

#sidebar { margin-top: 2em; }
@media screen and (min-width: 40em) { #sidebar { width: 100%; } }

@media screen and (min-width: 40em) { #blogextra { display: inline-block; width: 48%; vertical-align: top; }
  #blognav { display: inline-block; width: 48%; vertical-align: top; } }
@media screen and (min-width: 60em) { .max-page { width: 80em !important; }
  #main, #sidebar { display: inline-block; vertical-align: top; }
  #blognav, #blogextra { display: block; margin-right: 0; }
  #main { width: 75%; margin-right: 5%; }
  #sidebar { width: 19%; }
  #blognav, #blogextra { width: auto; }
  .dc-page #main, .dc-page #sidebar, .dc-post #main, .dc-post #sidebar { width: auto; display: block; }
  .dc-page #content, .dc-post #content { margin: 0 auto; } }
/* fil d'ariane - scss/blog/_m-breadcrumb
-------------------------------------------------------- */
#breadcrumb { color: #6d6e74; font-size: .875em; margin: .5em 0 1em; }

#breadcrumb a { color: #6d6e74; }

/* Comments and trackbacks - blog/_m-comments
-------------------------------------------------------- */
#comments-feed { margin-bottom: 2em; }

#comments-feed .feed { padding: .25em 0 .25em 22px; background: transparent url(../i/feed.png) no-repeat 0 0.5em; }

.post-feedback { clear: both; }

.post-feedback h3 { margin: 2em 0 .5em 0; padding: .25em .5em; background: #f9f9f9; border-width: 1px 0; border-style: solid; border-color: #ddd; font-size: 1.2em; }

.comments-list { list-style: none; padding-left: 0; margin-left: 0; }

.comments-list li { list-style-image: none; list-style-type: none; margin-left: 0; }

.comments-list li.first { border-top: 1px solid #ddd; }

.comment, .ping { overflow: hidden; padding: 1.75em 1.5em 1.5em 4em; background-color: #ececec; border-bottom: 1px solid #ddd; }

.comment.odd, .ping.odd { background-color: #f6f6f6; }

.comment.me { background-color: #e0eef8; }

.comment-info { font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif; font-weight: bold; margin-bottom: 1.5em; }

.comment-number { display: block; float: left; width: 2.5em; height: 2.5em; margin-left: -3.5em; margin-right: 1em; margin-top: -.5em; border-radius: .5em; background-color: white; z-index: 1000; line-height: 2.5em; text-align: center; text-decoration: none; color: #ba3e49; border: 1px solid #ddd; }
.comment-number:hover, .comment-number:focus { background-color: #c44d58; color: #fff; }

.error { margin: 1em 0 0; padding: .5em .25em; background: #fcc; border: 2px solid #c44d58; font-weight: bold; }

/* Forms
-------------------------------------------------------- */
.comment-form-inner, #ping-url, .pr-inner { overflow: hidden; padding: .75em 1em .5em; margin-bottom: 2em; background-color: #f9f9f9; border: 1px solid #ddd; }

.comment-form p { padding: .25em 0; }

.field { clear: left; width: auto; margin: 0; padding: .25em 0; }

.form-help, .remember { width: 65%; margin: 0 0 0 30%; font-style: italic; font-size: 0.875em; }

.field label { display: block; float: left; width: 28%; padding: 0 1% 0 0; text-align: right; }

.comment-form textarea { width: 69%; padding: 1px 2px; color: #137bbb; font: 1em "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Corbel, Verdana, "Verdana Ref", sans-serif; }

#c_remember { width: auto; margin: 0 .25em 0 30%; border: 0; }

.remember, .buttons { margin: 0; }

.buttons { text-align: right; }

.buttons .preview { margin-left: 30%; }

.buttons .btn-highlight { margin-left: 1em; }

.fieldset { margin-bottom: 3em; }

/* pagination et navlinks - scss/blog/_m-pagination
-------------------------------------------------------- */
.pagination, .navlinks { font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif; text-align: center; letter-spacing: .015em; }

.navlinks { color: #fff; }

.pagination, .navlinks { margin-top: 3em; margin-bottom: 3em; }

.pagination a, .navlinks a { color: #fff; background-color: #137bbb; background-image: linear-gradient(to bottom, #0080ce, #0e5d8d); border: 1px solid #116ca4; background-image: none; }
.pagination a:hover, .pagination a:focus, .navlinks a:hover, .navlinks a:focus { background-color: #137bbb; background-image: none; }
.pagination a:after, .navlinks a:after { font-size: .875em; }

.prev { float: left; }
.prev:before { content: '\25c4'; padding-right: 0.25em; }

.next { float: right; }
.next:after { content: '\25ba'; padding-left: 0.5em; }

@media screen and (min-width: 30em) { .current-page { color: #6d6e74; font-size: 1.25em; }
  .current-page:after, .current-page:before { display: inline-block; height: 1px; content: " "; text-shadow: none; background-color: #ddd; width: 3em; }
  .current-page:before { margin: 0 1em .25em 0; }
  .current-page:after { margin: 0 0 .25em 1em; } }
/* billets - scss/blog/_m-post
-------------------------------------------------------- */
.post { margin-top: 2.5em; }
.post.first { margin-top: 0; }

.dc-home .first { border-bottom: 1px dotted #6d6e74; }

.post-title { color: #137bbb; margin-top: 0; font-weight: normal; }
.post-title a { color: #c44d58; text-decoration: none; }
.post-title a:hover, .post-title a:focus { text-decoration: underline; }

.full .post-title { color: #c44d58; font-size: 1.25em; }

.dc-home .first .post-title { margin-bottom: 0; }

@media all and (min-width: 40em) { .dc-home .first .post-title { font-size: 3em; line-height: 1; } }
.post-date { margin-right: .5em; padding: 0 .4em; color: #4c4c4c; background-color: #ececec; border-radius: .25em; font-size: .875em; }

.full .post-date { background-color: #b8e356; font-size: 1em; }
@media all and (min-width: 40em) { .full .post-date { vertical-align: super; } }

.full .post-date, .full .post-title, .short .post-date, .short .post-title { display: inline; vertical-align: middle; }
.full .post-date, .short .post-date { margin-top: .5em; }

@media all and (min-width: 40em) { .dc-home .first .post-date { margin-top: .75em; } }
.post-info { margin: 0 0 1.5em; color: #6d6e74; font-size: .875em; }

.short .post-info { margin-top: .75em; }

.post-info a { color: #6d6e74; }

.post-info:before { display: inline-block; width: .75em; height: .75em; margin-right: .25em; color: red; background: #a5cc52; content: ""; }

.post-tags { margin: 1em 0 1em; padding: 3px 0; list-style: none; }

.post-tags li { display: inline; margin-right: 8px; padding: 5px 0 5px 22px; background: transparent url(../i/tag.png) no-repeat 0 70%; }

.post-tags li a { color: #6d6e74; }
.post-tags li a:before { content: '\0023'; }

.post-icon { float: left; margin-right: .5em; }

.post-icon + p { margin-top: 0; }

.share { display: block; width: 389px; height: 26px; margin: 10px 0; padding: 5px 0 0; background: transparent url(../i/share.png) no-repeat left center; font-size: .875em; }

.share a { padding: 0 14px 0 31px; text-decoration: none; }

.share a:hover, .share a:focus { background: transparent; text-decoration: underline; }

/* Post content
-------------------------------------------------------- */
@media screen and (min-width: 40em) { .full .post-content, .full .post-excerpt { margin-top: 2em; margin-bottom: 2em; } }
.short .post-content p, .short .post-excerpt p { margin: 0; }

.post h3, .post h4 { font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif; }

.post-content ul, .post-excerpt ul, .post-content ol, .post-excerpt ol { margin: 0 0 .5em 0; }

.post-content blockquote, .post-excerpt blockquote { margin: 4px 0 4px 0; padding: 0 5px; border-left: 4px solid #bfbfbf; }

.read-it { margin-top: .75em; }

.read-it a { color: #6d6e74; }

.dc-page .post-title, .dc-page .post-attr, .dc-post .post-title, .dc-post .post-attr { text-align: center; }

@media all and (min-width: 40em) { .simple .post-title { margin-top: 1em; font-size: 3em; line-height: 1; } }
.simple .post-attr { padding: 0 0 .5em; border-bottom: 1px solid #ddd; margin-bottom: 1em; margin-top: .5em; font-style: italic; color: #6d6e74; }
.simple .post-attr a:link, .simple .post-attr a:visited { color: #6d6e74; }
.simple .post-attr p:first-child { margin-bottom: 0; }

.simple .post-tags { margin: 0; padding: 0; font-style: normal; font-size: .875em; }

@media screen and (min-width: 40em) { .simple .post-content, .simple .post-excerpt { margin-top: 2em; margin-bottom: 2em; } }
.simple .post-content, .simple .post-excerpt { font-size: 1.125em; }

.simple h3 { color: #4c4c4c; }
@media screen and (min-width: 40em) { .simple h3 { font-size: 1.75em; } }

.simple h4 { font-weight: bold; color: #6d6e74; }
@media screen and (min-width: 40em) { .simple h4 { font-size: 1.25em; } }

#attachments h3 { font-size: 1.2em; }

#attachments ul { margin: 0; padding: 4px 0; list-style: none; }

#attachments li { margin: 0 0 .6em; padding: 2px 10px 2px 18px; background: transparent url(../i/attach.png) no-repeat 0 50%; }

#attachments li object { display: inline; margin: 0; padding: 0; vertical-align: bottom; }

/* recherche - scss/blog/_m-search
-------------------------------------------------------- */
#search { margin: 0 .5em; }
@media screen and (min-width: 40em) { #search { float: right; font-size: .875em; } }
#search p { margin-bottom: 0; }

#search label { margin-right: .5em; }

#q { width: 18em; padding-right: 20px; padding-left: .5em; color: #000; background: white url(../i/loupe.png) no-repeat 16em center; border: 1px solid #ddd; border-radius: 3px; line-height: 1.75; }

:focus::placeholder { color: #f9f9f9; }

.btn-search { background-color: #fff; border: 1px solid #c4c4c4; }

/** Sidebar styles - scss/blog/_sidebar
//   pas d'indications de layout ici
-------------------------------------------------------- */
#sidebar { padding-top: 2.5em; line-height: 1.25; }
@media screen and (min-width: 40em) { #sidebar { font-size: .875em; } }

#sidebar h2, #sidebar h3 { font-weight: bold; }

#sidebar h2 { color: #137bbb; font-size: 1.125em; text-transform: uppercase; }

#sidebar h3 { font-size: 1em; margin: 1em 0 .5em; }

#sidebar div div { margin-bottom: 2em; }

#sidebar div div div { margin-bottom: 0; }

#sidebar ul { margin: 0; padding: 0; list-style: none; }

#sidebar li { display: block; margin: 0; padding: 4px 0; }

#sidebar li a { color: #4c4c4c; text-decoration: none; }

#sidebar li a:hover, #sidebar li a:focus, #sidebar li a:active { text-decoration: underline; }

#sidebar ul ul { margin: 0; padding: 0 0 0 15px; list-style: disc; border: none; }

#sidebar li li { display: list-item; margin: .5em 0 0 0; padding: 0 0; border: none; }

#sidebar .syndicate ul { border-top: none; }

#sidebar .syndicate li { border-bottom: none; }

#sidebar .categories li.category-current { font-weight: bold; }

#sidebar .categories li.category-current li { font-weight: normal; }

#sidebar .tags ul { border-top: none; font-size: 1.1em; }

#sidebar .tags ul li { display: inline; margin: 0; padding: 0; background: none; border: none; line-height: 1.8em; }

ul.tags { margin: 1em 0; padding: 0; list-style: none; font-size: 1.3em; text-align: justify; }

ul.tags li { display: inline; margin: 0; padding: 0; line-height: 1.8em; }

/* tableaux - blog/_m-tables 
// à mutualiser dans all_sites ?
-------------------------------------------------------- */
table, .table { max-width: 100%; table-layout: fixed; border-collapse: collapse; vertical-align: top; }

table { width: 100%; }

.table { display: table; }

table#recaptcha_table, table.table-auto { table-layout: auto; }

caption { padding: 10px; color: #4c4c4c; font-style: italic; }

table { border: 1px solid #ddd; }

tr > * + * { border-left: 1px solid #ddd; }

th, td { padding: .3em .8em; border-bottom: 1px solid #ddd; text-align: left; }

td { color: #000; }

/* alternate tables */
.alternate { border: 0; }

.alternate tbody { border: 1px solid #ddd; }

.alternate thead tr > * + * { border-left: 0; }

.alternate tbody tr > * + * { border-left: 1px solid #ddd; }

/* alternate-vert tables */
.alternate-vert { border: 0; border-right: 1px solid #ddd; }

.alternate-vert tr > :first-child { border-bottom: 0; }

.alternate-vert tr > * + * { border-top: 1px solid #ddd; }

/* striped tables */
.striped tbody tr:nth-child(odd) { background: rgba(0, 0, 0, 0.05); }

/* striped-vertical tables */
.striped-vert tr > :first-child { background: rgba(0, 0, 0, 0.05); }

#content-info { margin-bottom: 2em; padding-bottom: .5em; border-bottom: 1px solid #ddd; }
#content-info a:link, #content-info a:visited { color: #6d6e74; }

#content-info h2 { color: #137bbb; font-weight: normal; }
@media all and (min-width: 40em) { #content-info h2 { margin-top: 1em; font-size: 2em; line-height: 1; } }

.content-info__feed { margin-left: 0; padding-left: 0; list-style-type: none; }
.content-info__feed .feed { padding: .25em 0 .25em 22px; background: transparent url(../i/feed.png) no-repeat 0 0.5em; }

/* --------------------------------------------------------
/* Accueil général dc.org/net - blog/_p-home-dc.scss
/* ----------------------------------------------------- */
/* -------------------------------------------------------- top */
.title { margin-bottom: .5em; }
@media screen and (min-width: 30em) { .title { margin-top: 2em; margin-bottom: 1em; } }

.ctrl-blog { margin-bottom: 1.5em; }

.slogan h2 { margin-top: .5em; text-shadow: 1px 2px 3px rgba(109, 110, 116, 0.4); font-family: Srcsanspro, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 2em; line-height: 1.25; }
@media screen and (min-width: 30em) { .slogan h2 { margin-top: 1em; } }

.presentation { font-size: 1.125em; }

.download { margin-top: 2em; text-align: center; }

@media screen and (min-width: 52em) { .dc-index .title { text-align: center; }
  .ctrl-blog { margin: 4em 0 3em; text-align: center; }
  .slogan h2 { font-size: 3.75em; }
  .presentation { margin: 0 auto 2em; font-size: 1.25em; line-height: 1.75; } }
a.dl { padding: .5em 2em .5em 4em; font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif; font-size: 1.125em; text-transform: uppercase; color: #000; background-color: #a5cc52; background-image: linear-gradient(to bottom, #ade23c, #8db536); border: 1px solid #9bc63e; }
a.dl:hover, a.dl:focus { background-color: #a5cc52; background-image: none; }

a.dl:before { position: absolute; top: -12px; left: 1em; display: block; width: 36px; height: 40px; background: transparent url(../i/dl-arrow.png) no-repeat 0 0; content: ""; }

/* -------------------------------------------------------- nav */
@media screen and (min-width: 40em) { .dc-index .nav-primary { background: #6d6e74; text-align: center; }
  .dc-index .nav-primary ul { margin: 0 auto; }
  .dc-index .nav-primary a { color: #fff; }
  .dc-index .nav-primary a:hover, .dc-index .nav-primary a:focus, .dc-index .nav-primary .cur { color: #000; border-top-left-radius: 0; border-top-right-radius: 0; } }
/* -------------------------------------------------------- features */
#home-main { max-width: 60em; margin: 0 auto; padding: 0 .5em; }

.features { margin: 2em -.5em; padding: 1em; background: #f9f9f9 url(../i/ticks.png); text-align: center; }

.screenshot { box-shadow: 0 1px 3px #aaa; }

.features-txt { text-align: left; }
@media screen and (min-width: 40em) { .features-txt { float: left; width: 48%; } }

@media screen and (min-width: 40em) { .screenshot { float: right; width: 48%; } }

.features li { padding: 2px 0 2px 1.5em; list-style: none; background-image: url(../i/feat_sprite.png); background-image: url(../i/feat_sprite.svg), none; background-repeat: no-repeat; text-align: left; }

.features li.f-install { background-position: -10px -4px; }

.features li.f-users { background-position: -10px -78px; }

.features li.f-extend { background-position: -10px -258px; }

.features li.f-media { background-position: -10px -150px; }

.features li.f-antispam { background-position: -10px -222px; }

.features li.f-pages { background-position: -10px -114px; }

.features li.f-lang { background-position: -10px -186px; }

.features li.f-gpl { background-position: -10px -294px; }

.features li.f-a11y { background-position: -10px -42px; }

.more { margin: 0 0 2em; font-size: .875em; }

.features-txt + p { margin-top: .25em; }

.features-txt + p + p { clear: both; padding-top: .5em; }

.end-features { text-align: left; }

/* -------------------------------------------------------- univers */
@media screen and (min-width: 40em) { .dc-index-content h2 { font-size: 2.5em; } }

.primary-zone h3 { margin-bottom: 0; font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif; }

.da-title { color: #c44d58; }

.co-title { color: #137bbb; }

.dc-index-content p { margin: .75em 0 0 0; }

.secondary-zone h3 { font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif; font-size: 1.25em; }

.da-zone .secondary-zone h3 { color: #c44d58; }

.da-zone h2 { padding-top: 1em; }

.codev-zone .secondary-zone h3 { color: #137bbb; }

.news h3 { margin-bottom: 1em; }

.news .post-date, .news .post-title { display: inline-block; margin-bottom: 0; vertical-align: middle; }

.news .post-title a { color: #4c4c4c; font-size: 1em; font-weight: bold; }

/* Coeur */
.heartbeat { display: inline-block; margin: 0 0 0 .2em; padding: 0; color: #a5cc52; font-size: 6em; line-height: .4em; text-align: center; vertical-align: bottom; -webkit-animation: pulse 2s linear 10; -moz-animation: pulse 2s linear 10; -ms-animation: pulse 2s linear 10; animation: pulse 2s linear 10; }

@keyframes "pulse" { 0% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  50% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); }
  100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
@-moz-keyframes pulse { 0% { -moz-transform: scale(1.1); transform: scale(1.1); }
  50% { -moz-transform: scale(0.8); transform: scale(0.8); }
  100% { -moz-transform: scale(1); transform: scale(1); } }
@-webkit-keyframes "pulse" { 0% { -webkit-transform: scale(1.1); transform: scale(1.1); }
  50% { -webkit-transform: scale(0.8); transform: scale(0.8); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
@-ms-keyframes "pulse" { 0% { -ms-transform: scale(1.1); transform: scale(1.1); }
  50% { -ms-transform: scale(0.8); transform: scale(0.8); }
  100% { -ms-transform: scale(1); transform: scale(1); } }
@media screen and (min-width: 40em) { .primary-zone { float: left; width: 68%; }
  .secondary-zone { float: right; width: 28%; padding-top: .5em; }
  .secondary-zone h3 ~ h3 { margin-top: 2em; } }
