/**
Just for information - dokuwiki
=====================================================
Stylesheets requested for all dotclear sites:
	- /sites/dotclear.org/www/style2013/all_sites.css
	- /sites/dotclear.org/www/style2013/forms.css

+ specific dokuwiki stylesheets, which are in:
/share/dokuwiki/lib/tpl/dotclear
	- print.css
	- media.css
	- style.css

+ an additionnal file : style.ini (colors parameters)

it seems that some CSS may also come from:
/share/dokuwiki/lib/exe/css.php
/share/dokuwiki/lib/styles/
/share/dokuwiki/lib/tpl/default/
*/