/**
Just for information - Trac
=====================================================
Stylesheets requested for all dotclear sites:
	- /sites/dotclear.org/www/style2013/all_sites.css
	- /sites/dotclear.org/www/style2013/_rebase.css
	- /sites/dotclear.org/www/style2013/_layout.css
	- /sites/dotclear.org/www/style2013/_forms.css


+ specific Trac stylesheets, which are in:
/sites/dotclear.org/forum/style/Dotclear.css
/sites/dotclear.org/forum/style/import/Dotclear_cs.css
/sites/dotclear.org/forum/style/base.css