<div id="sidebar">
	<div id="blognav">
    <h2>{{tpl:lang Navigation}}</h2>
		{{tpl:Widgets type="nav"}}
	</div> <!-- End #blognav -->
	<div id="blogextra">
    <h2>{{tpl:lang Dotclear Galaxy}}</h2>
		{{tpl:Widgets type="extra"}}
	</div> <!-- End #blogextra -->
</div>
