	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="icon" type="image/png" href="/new-style/i/favicon-dc.png" />
	<link rel="shortcut icon" href="/new-style/i/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/new-style/css/blog.css" />
	<script src="/new-style/js/lib/respond.js"></script>
	<script src="/new-style/js/lib/jquery.js"></script>
	<script src="/new-style/js/rwd-nav.js"></script>
	<script src="/new-style/js/tinynav.js"></script>
	<script src="/new-style/js/totop.js"></script>
	<script src="/new-style/js/collapse.js"></script>
	<script src="/new-style/js/jquery.cookie.js"></script>
	{{tpl:include src="user_head.html"}}
	{{tpl:SysBehavior behavior="publicHeadContent"}}

<!-- grille verticale pour dev uniquement
	<link rel="stylesheet" href="http://basehold.it/24">
-->
