<tpl:Pagination>
	<p class="pagination">
		<tpl:PaginationIf end="0">
			<a href="{{tpl:PaginationURL offset="+1"}}" class="prev">{{tpl:lang Older entries}}</a>
		</tpl:PaginationIf>

		<span class="current-page">{{tpl:lang page}} {{tpl:PaginationCurrent}} {{tpl:lang of}} {{tpl:PaginationCounter}}</span>

		<tpl:PaginationIf start="0"><a href="{{tpl:PaginationURL offset="-1"}}" class="next">{{tpl:lang Newer entries}}</a>
		</tpl:PaginationIf>
	</p>
</tpl:Pagination>
