<div id="subnav">
  <div class="inner-subnav">
    <form id="search" role="search" method="get" action="/">
      <p><label for="q" class="visually-hidden">Recherche </label> <input type="search" value="" name="q" id="q" maxlength="255" size="10" placeholder="Rechercher">
      <input type="submit" value="ok" class="submit btn-search"></p>
    </form>
  	<p class="info-navs">Sections</p>
    {{tpl:SimpleMenu class="risette clearfix tinynav" id="sub-nav" description="title"}}
  	<p id="switchlangs"><a href="{{tpl:lang http://fr.feignasses.org}}/blog">{{tpl:lang Français}}</a></p>

  </div>
</div>
