<header role="banner" class="header">
  <div class="inner-header">
    <p id="prelude" class="skip-links"><a href="#main">{{tpl:lang To content}}</a>
    	<a href="#nav">{{tpl:lang To menu}}</a> <a href="#search">{{tpl:lang To search}}</a>
    </p>
    <div id="top">
   	  <h1 class="title">
    	   <a href="{{tpl:BlogURL}}">{{tpl:include src="_dotclear.svg"}}<span class="visually-hidden">{{tpl:BlogName encode_html="1"}}</span></a>
  	 </h1>
     <div class="ctrl-blog">
      <tpl:Entries url="control-blog" type="page" lastn="1" no_context="1">
        <div class="slogan">{{tpl:EntryExcerpt}}</div>
      </tpl:Entries>
        <p class="download"><a href="/download" class="dl">Téléchargement</a></p>
     </div>
    </div>
  </div>
  <nav id="nav" role="navigation" class="nav-primary">
    <p class="info-navs">Dotclear sites</p>
    <ul class="risette clearfix">
      <li class="cur"><a href="/"><img src="/new-style/i/home.png" alt="Dotclear site" width="19" height="17"></a></li>
      <li><a href="/download">Téléchargements</a></li>
      <li><a href="/documentation/">Documentation</a></li>
      <li><a href="http://dotaddict.org">Personnalisation</a></li>
      <li><a href="http://dev.dotclear.org">Développement</a></li>
      <li><a href="http://forum.dotclear.net">Forum</a></li>
      <li><a href="/blog">Blog</a></li>        
    </ul>
  </nav>
</header>

<div id="subnav">
  <div class="inner-subnav">
    <p class="info-navs">Sections</p>
    <p id="switchlangs"><a href="{{tpl:lang http://fr.feignasses.org}}">{{tpl:lang Français}}</a></p>
  </div>
</div>
