<header role="banner" class="header">
  <div class="inner-header">
    <p id="prelude" class="skip-links"><a href="#main">{{tpl:lang To content}}</a>
    	<a href="#nav">{{tpl:lang To menu}}</a> <a href="#search">{{tpl:lang To search}}</a>
    </p>
    <div id="top">
   	  <h1 class="title">
         <a href="{{tpl:BlogURL}}">{{tpl:include src="_dotclear.svg"}}<span class="visually-hidden">{{tpl:BlogName encode_html="1"}}</span></a>
  	 </h1>
    <div class="compte">
      <h2 class="expander">{{tpl:lang My account}}</h2>
      <div class="login-box to_expand">
        <p class="h3-like">{{tpl:lang I already have a Dotclear account:}}</p>
        <form action="#" method="post">
          <p><label for="auth_login">{{tpl:lang Login}}</label><input id="auth_login" name="auth_l" size="10" maxlength="32"  type="text" /></p>
          <p><label for="auth_p">{{tpl:lang Password}}</label> <input name="auth_p" id="auth_p" size="10" maxlength="128" type="password" /> <a href="/my/recover" class="more-account-link forgot-password">{{tpl:lang I forgot my password}}</a></p>
          <p class="send-login"><input type="submit" class="btn-highlight" value="{{tpl:lang Log in}}" /></p>
        </form>
        <p class="more-account"><a href="/my/apply" class="more-account-link">{{tpl:lang Create a Dotclear account}}</a></p>
      </div>
    </div>
     <nav id="nav" role="navigation" class="nav-primary">
        <p class="info-navs">Dotclear sites</p>
        <ul class="risette clearfix">
          <li><a href="/"><img src="/new-style/i/home.png" alt="Dotclear site" width="19" height="17"></a></li>
          <li><a href="/download">Téléchargements</a></li>
          <li><a href="/documentation/">Documentation</a></li>
          <li><a href="http://dotaddict.org">Personnalisation</a></li>
          <li><a href="http://dev.dotclear.org">Développement</a></li>
          <li><a href="http://forum.dotclear.net">Forum</a></li>
          <li class="cur"><a href="/blog">Blog</a></li>
        </ul>
     </nav>
    </div>
  </div>
</header>

  <!-- # --BEHAVIOR-- publicTopAfterContent -->
  {{tpl:SysBehavior behavior="publicTopAfterContent"}}
