{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
	<title>{{tpl:lang Archives}} - {{tpl:ArchiveDate}} - {{tpl:BlogName encode_html="1"}}</title>
</tpl:Block>

<tpl:Block name="meta-robots">
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}" />
</tpl:Block>

<tpl:Block name="dc-entry">
	<meta property="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Archives}} - {{tpl:ArchiveDate}} - {{tpl:BlogName encode_html="1"}}" />
	<meta property="dc.language" content="{{tpl:BlogLanguage}}" />
	<meta property="dc.date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
</tpl:Block>

<tpl:Block name="head-linkrel">
	<link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
	<link rel="up" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
	<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />

	<tpl:ArchiveNext><link rel="next" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}" /></tpl:ArchiveNext>
	<tpl:ArchivePrevious><link rel="prev" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}" /></tpl:ArchivePrevious>

	<tpl:Entries no_content="1">
		<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
	</tpl:Entries>
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-archive-month"></tpl:Block>

<tpl:Block name="main-content">
	<div id="content-info">
		<h2>{{tpl:lang Archives}} / {{tpl:ArchiveDate}} <span>({{tpl:ArchiveEntriesCount}})</span></h2>
	</div>

	<div class="content-inner">
		<tpl:Entries>
			{{tpl:include src="_entry-short.html"}}
		</tpl:Entries>
	</div>

	<p class="navlinks">
		<tpl:ArchivePrevious><a href="{{tpl:ArchiveURL}}" class="prev">&#171; {{tpl:ArchiveDate encode_html="1"}}</a> - </tpl:ArchivePrevious>
		{{tpl:ArchiveDate}}
		<tpl:ArchiveNext> - <a href="{{tpl:ArchiveURL}}" class="next">{{tpl:ArchiveDate encode_html="1"}} &#187;</a></tpl:ArchiveNext>
	</p>
</tpl:Block>