{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
	<title>{{tpl:CategoryTitle encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
</tpl:Block>

<tpl:Block name="meta-robots">
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}" />
</tpl:Block>

<tpl:Block name="meta-entry">
	<meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:CategoryDescription encode_html="1" cut_string="180" remove_html="1"}}" />
	<meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
	<meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
</tpl:Block>

<tpl:Block name="dc-entry">
	<meta property="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:CategoryTitle encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc.description" lang="{{tpl:BlogLanguage}}" content="{{tpl:CategoryDescription remove_html="1"}}" />
	<meta property="dc.language" content="{{tpl:BlogLanguage}}" />
	<meta property="dc.date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
</tpl:Block>

<tpl:Block name="head-linkrel">
	<link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
	<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />

	<tpl:Entries no_content="1">
		<tpl:EntriesHeader>
			<tpl:Pagination>
				<tpl:PaginationIf end="0">
					<link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
				</tpl:PaginationIf>

				<tpl:PaginationIf start="0">
					<link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
				</tpl:PaginationIf>
			</tpl:Pagination>
		</tpl:EntriesHeader>

		<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
	</tpl:Entries>

	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:CategoryFeedURL type="atom"}}" />
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-category"></tpl:Block>

<tpl:Block name="main-content">
	<div id="content-info">
		<h2>{{tpl:lang Category}} /
			<tpl:CategoryParents>
				<a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle encode_html="1"}}</a> &rsaquo;
			</tpl:CategoryParents>
			{{tpl:CategoryTitle encode_html="1"}}
		</h2>

		<tpl:CategoryIf has_entries="1">
			<ul class="content-info__feed">
				<li><a type="application/atom+xml" href="{{tpl:CategoryFeedURL type="atom"}}"
				 title="{{tpl:lang This category's entries Atom feed}}" class="feed">{{tpl:lang Entries feed}}</a></li>

				<tpl:SysIf operator="or" comments_active="1" pings_active="1">
					 <li><a type="application/atom+xml" href="{{tpl:CategoryFeedURL type="atom"}}/comments"
					 title="{{tpl:lang This category's comments Atom feed}}" class="feed">{{tpl:lang Comments feed}}</a></li>
				</tpl:SysIf>
			</ul>
		</tpl:CategoryIf>

		<div class="content-info__cat-desc">
			{{tpl:CategoryDescription}}
		</div>


		<tpl:CategoryFirstChildren>
			<tpl:CategoriesHeader>
				<div id="subcategories" class="content-info__sub-cat">
					<h3>{{tpl:lang Subcategories}}</h3>
					<ul>
			</tpl:CategoriesHeader>
						<li class="post-cat"><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle encode_html="1"}}</a></li>
			<tpl:CategoriesFooter>
					</ul>
				</div>
			</tpl:CategoriesFooter>
		</tpl:CategoryFirstChildren>
	</div>	<!-- End #content-info -->

	<div class="content-inner">
		<tpl:Entries>
			{{tpl:include src="_entry-short.html"}}

			<tpl:EntriesFooter>
				{{tpl:include src="_pagination.html"}}
			</tpl:EntriesFooter>
		</tpl:Entries>
	</div> <!-- End #content-inner -->
</tpl:Block>