{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
	<title>{{tpl:lang Tag}} - {{tpl:TagID}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
</tpl:Block>

<tpl:Block name="meta-entry">
	<meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
	<meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
</tpl:Block>

<tpl:Block name="dc-entry">
	<meta property="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Tag}} - {{tpl:TagID}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc.language" content="{{tpl:BlogLanguage}}" />
	<meta property="dc.date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
</tpl:Block>

<tpl:Block name="head-linkrel">
	<link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
	<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />

	<tpl:Entries no_content="1">
		<tpl:EntriesHeader>
			<tpl:Pagination>
				<tpl:PaginationIf end="0">
					<link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
				</tpl:PaginationIf>

				<tpl:PaginationIf start="0">
					<link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
				</tpl:PaginationIf>
			</tpl:Pagination>
		</tpl:EntriesHeader>

		<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
	</tpl:Entries>

	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:TagFeedURL type="atom"}}" />
	<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-tag"></tpl:Block>

<tpl:Block name="main-content">
	<div id="content-info">
		<h2>{{tpl:lang Tag}} / {{tpl:TagID}}</h2>
		<ul class="content-info__feed">
			<li><a type="application/atom+xml" href="{{tpl:TagFeedURL type="atom"}}"
			title="{{tpl:lang This tag's entries Atom feed}}" class="feed">{{tpl:lang Entries feed}}</a></li>
			<li><tpl:SysIf operator="or" comments_active="1" pings_active="1">
				 <a type="application/atom+xml" href="{{tpl:TagFeedURL type="atom"}}/comments"
				title="{{tpl:lang This tag's comments Atom feed}}" class="feed">{{tpl:lang Comments feed}}</a></li>
			</tpl:SysIf>
		</ul>
	</div>

	<div class"content-inner">
		<tpl:Entries>
			{{tpl:include src="_entry-short.html"}}

			<tpl:EntriesFooter>
				{{tpl:include src="_pagination.html"}}
			</tpl:EntriesFooter>

		</tpl:Entries>
	</div> <!-- End #content-inner -->
</tpl:Block>