@charset "UTF-8";

/* boutons - scss/all_sites/_b-buttons
-------------------------------------------------------- */

//////////////////// variables, mixins et placeholders

// Variables
$btn-highlight: $accent-3 !default;            // vert  
$btn-simple: $accent-2 !default;            // bleu
$btn-neutral: $bg-light-grey !default;       // gris
$btn-disabled: #fff !default;                 // blanc
$btn-delete: $accent-1 !default;            // rouge

// Règles communes
%button {
  position: relative;
  display: inline-block;
  padding: .5em .75em;

  border-radius: .25em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);

  font-size: .875em;
  line-height: normal !important;
  text-align: center;
  text-decoration: none !important;
  &:disabled {
    cursor: default;
    &:hover {
      box-shadow: none;
    }
  }
  &:hover,
  &:hover,
  &.hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
  }
  &:active,
  &.active {
    box-shadow: none;
  }
}

// mixin des couleurs
@mixin button-colors(
        $colorStart: $btn-neutral,
        $colorEnd: darken($colorStart, 10%),
        $colorBorder: darken($colorStart, 5%),
        $colorText: #000
        ) {
  color: $colorText;

  background-color: $colorStart;
  background-image: linear-gradient(to bottom, saturate($colorStart, 20%), darken($colorStart, 10%) );
  border: 1px solid $colorBorder;
  &:hover,
  &:focus {
    background-color: $colorStart;
    background-image: none;
  }
}

// tous les boutons
button,
.button,
input[type=button],
input[type=reset],
input[type=submit] {
  @extend %button;
}

// les classes de boutons
.btn-simple {
  @include button-colors($colorStart: $color_co, $colorText:#fff);
}

.btn-highlight {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .9);

  @include button-colors(#b8e356);
}

.btn-neutral {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .9);

  @include button-colors();
}

.btn-delete {
  border-color: $accent-1;

  @include button-colors($colorStart: #fff, $colorText:$color_da);
  &:hover,
  &:focus {
    color: #fff;

    background-image: linear-gradient(to bottom, saturate($accent-1, 20%), darken($accent-1, 10%) );
    border-color: $accent-1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  }
}

.btn-disabled {
  background-image: none;

  cursor: default;

  @include button-colors($colorStart: #fff, $colorEnd:#fff);
  &:hover {
    box-shadow: none;
  }
}
