@charset "UTF-8";

/* formulaires - scss/all_sites/_b-forms
-------------------------------------------------------- */

// **
// Note Anne : pas très sûre qu'il faille garder
// des classes dans les règles de base (?)
// **

////////////////////////////// tags html
fieldset {
  margin: 1em 0;
  padding: .5em;

  background: #ececec;
  border: 1px solid $border-light-grey;
}

legend {
  margin: 0 0 .7em 0;

  font-weight: bold;
}

input,
textarea,
select,
option {
  font-family: $form-font;
  font-size: 1em;
  line-height: 1.25em;
}

input,
textarea {
  border-width: 1px;
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
textarea {
  background: #fff;
  border-style: solid;
  border-color: $border-light-grey;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
textarea:focus {
  background: #f5f5f5;
  border-color: $accent-3;
}

////////////////////////////// classes
.controlset {
  margin-left: 170px;
}

.controlset label,
.area label {
  display: inline;
  float: none;
}

.area textarea {
  display: block;
  width: 100%;
}

.area .note {
  margin-left: 0;
}

.note {
  clear: left;
  margin: 0 0 0 170px;

  font-style: italic;
}

.required label,
.required span.label {
  font-weight: bold;
}

/* A remplacer par l'info en dur dans la source et abbr */
.required label:before,
.required span.label:before {
  color: $accent-1;

  font-weight: bold;

  content: "* ";
}

.controlset label:after {
  content: "";
}
