@charset "UTF-8";

/* balises html - scss/all_sites/_b-html-tags
-------------------------------------------------------- */

body {
  color: $body-color;

  background-color: #fff;

  font-family: $srcsans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 .5em;

  line-height: 1.25;
}

h1,
h2 {
  font-family: $arsenal;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h1,
.h1-like {
  margin: 0;

  font-size: 2.25em;
}

h2,
.h2-like {
  font-size: 1.75em;
}

h3,
.h3-like {
  font-size: 1.5em;
}

h4,
.h4-like {
  font-size: 1.125em;
}

h5,
.h5-like {
  font-size: 1em;
}

h6,
.h6-like {
  font-size: .75em;
}

ul,
ol {
  margin: 1em 0;
  padding-left: 2em;
}

p {
  margin: 1.5em 0 .5em;
}

blockquote {
  margin: 1em 3em;
}

blockquote,
q {
  font-style: italic;
}

blockquote em,
q em {
  font-style: normal;
}

cite {
  font-size: .9em;
}

code,
pre {
  color: $code-color;

  background: rgba(0, 0, 0, .04);

  font-size: .875em;
}

code {
  padding: 2px 4px;
}

pre {
  overflow: auto;
  margin: 1.5em 1em;
  padding: 0 .5em;

  background: lighten($bg-header, 15%);
  background-image: linear-gradient(lighten($bg-header, 15%) 50%, #fff 50%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 3em 3em;
  border: 1px solid lighten($code-color, 45%);

  line-height: 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

hr {
  width: 60%;
  height: 1px;
  height: 1px;

  border: 0;
  border-top: 1px solid $border-light-grey;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

i,
b {
  font-weight: normal;
  font-style: normal;
}

kbd {
  padding: 0 2px;

  border: 1px solid $medium-grey;
}

// avoid top margins on first content element
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

// max values
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  max-width: 100%;
}

// pictures
img {
  height: auto;

  vertical-align: middle;
}

// Lists
ul,
ol,
dl {
  margin: 1em 0 .5em 1.5em;
}

ol {
  margin-left: 2em;
}

ul ul,
ol ol {
  margin-top: .5em;
}

ul {
  list-style-type: circle;
}

ul.unstyled {
  list-style: none;
}

ul.risette {
  margin: 0;
  padding: 0;

  list-style: none;
}

ul ul {
  list-style-type: disc;
}

ul ul ul {
  list-style: square;
}

ol {
  margin: 0 0 1em 2em;
  padding: 0;

  list-style-type: decimal;
}

ol ol {
  list-style-type: upper-roman;
}

ol ol ol {
  list-style-type: lower-alpha;
}

ol ol ol ol {
  list-style-type: lower-greek;
}

dt {
  margin: 1em 0 0 0;
  padding: 0;

  font-weight: bold;
}

dd {
  margin: 0 0 0 1em;
  padding: 0;
}

acronym,
acronym {
  border-bottom: 1px dotted $border-light-grey;

  cursor: help;
}
