@charset "UTF-8";

/* liens par défaut - scss/all_sites/_b-links
-------------------------------------------------------- */

a {
  color: $body-color;

  background: transparent;
  text-decoration-color: lighten($body-color, 60%);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:visited {
  color: $body-color;
}

// Reinforce visibility on hover and focus for better accessibility
a:link,
a:visited {
  transition: .3s;
}

a:hover {
  background: lighten($bg-header, 10%);
}

a:focus {
  color: #fff;

  background: $dark-grey;
}

a img {
  border: none;
}
