@charset "UTF-8";

/* Sort of normalize - scss/all_sites/_b-normalize-like
-------------------------------------------------------- */

// ===========================================================================
//  Base rules and html5 compatibility by Dotclear Team,
//  most based on some Koz's habits and:
//  - Comprehensive Base Stylesheet by fvsch - fvsch.com/code/base-stylesheet/
//  - Normalize.css v2.1.3 | MIT License | git.io/normalize
//  - Knacss | WTFYW | by Raphael Goetter | www.knacss.com
// ===========================================================================

// Better box-sizing, see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;

  font-size: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-size: .875em; // ~= 14px < mobiles
  line-height: 1.5;

  @media screen and (min-width: 30em) {
    font-size: 100%; // ~= 16px > mobiles
  }
}

q,
cite {
  font-style: italic;
}

q:before,
q:after {
  content: "";
}

sup,
sub {
  position: relative;

  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

abbr[title] {
  border-bottom: 1px dotted;

  cursor: help;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  color: #000;

  background: #ff0;
}

code,
kbd,
pre,
samp {
  font-family: $code-font;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

input,
button,
select {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  margin: 0;

  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;

  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;

  border: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Removes inner padding and border in FF3+  - Knacss */
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  padding: 0;

  border: 0;
}

input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
}


textarea {
  overflow: auto;

  vertical-align: top;
}

table {
  margin-bottom: 1.5em;

  border-collapse: collapse;
}

td,
th {
  padding: 1px;

  text-align: left;
  vertical-align: top;
}

td:first-child,
th:first-child {
  empty-cells: hide;
}

/* scripts */
body > script {
  display: none !important;
}

/* HTML5 for old browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

figure {
  margin: 0;
}

[hidden],
template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

/* viewport fixing for RWD */
@-webkit-viewport {
  zoom: 1.0;
  width: device-width;
}

@-moz-viewport {
  zoom: 1.0;
  width: device-width;
}

@-ms-viewport {
  zoom: 1.0;
  width: device-width;
}

@-o-viewport {
  zoom: 1.0;
  width: device-width;
}

@viewport {
  zoom: 1.0;
  width: device-width;
}
