@charset "UTF-8";

/* Classes utilitaires - scss/all_sites/_b-utils
    + viewport fixing
-------------------------------------------------------- */

// alternate font-sizing
.smaller {
  font-size: .75em;
}

.small {
  font-size: .875em;
}

.big {
  font-size: 1.125em;
}

.bigger {
  font-size: 1.25em;
}

.biggest {
  font-size: 1.375em;
}

// text alignments
.txtleft {
  text-align: left;
}

.txtright {
  text-align: right;
}

.txtcenter {
  text-align: center;
}

// elements alignments
.center {
  margin-right: auto;
  margin-left: auto;
}

.left {
  float: left;
}

img.left {
  margin-right: 1em;
}

.right {
  float: right;
}

img.right {
  margin-left: 1em;
}

img.left,
img.right {
  margin-bottom: 5px;
}

// inline-block
.inbl {
  display: inline-block;
  vertical-align: middle;
}

// simuler un fieldset
.fieldset {
  margin: 1em 0;
  padding: .5em;

  background: $bg-light-grey;
  border: 1px solid $border-light-grey;
}


// hiding content a11y
.visually-hidden {
  position: absolute;
  left: -7000px;
  overflow: hidden;
}

[aria-hidden="true"] {
  display: none;
}

// Micro clearfix thx to Nicolas Gallagher
// sassified by css-tricks
@mixin clearfix($extend: true) {
  @if $extend {
    @extend %clearfix;
  } @else {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

%clearfix,
.clearfix {
  @include clearfix($extend: false);
}

// no margin, no padding
.risette {
  margin: 0;
  padding: 0;
}
