@charset "UTF-8";

// Variables communes - scss/all_sites/_b-variables
// --------------------------------------------------------

// ==== Palette charte

$accent-1:            #c44d58;      // rouge
$accent-2:            #137bbb;      // bleu
$accent-3:            #a5cc52;      // vert

$body-color:          #000;         // noir

$dark-grey:           #4c4c4c;      // anthracite
$medium-grey:         #6d6e74;      // gris
$border-light-grey:   #ddd;         // gris clair pour bordures
$bg-light-grey:       #f9f9f9;      // gris clair pour fonds

$bg-error:            #fcc;         // rose
$code-color:          #913d88;      // violet

$bg-header:           #a2cbe9;      // bleu clair

// ==== Attribution des couleurs
// facultatif ? on pourrait mettre directement les variables d'origine

$color_da:        $accent-1;
$color_co:        $accent-2;
$color_dev:       $dark-grey;

// à convertir avec les mixins des boutons
 $color_dl-dark:   #99C122;      // vert
 $color_dl-light:  #b8e356;
 $color_dl-medium: #a5cc52;


// ==== Font-stacks

$arsenal: (Arsenal, "arial narrow", "futura condensed", arial, sans-serif);
$srcsans: (Srcsanspro, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif);

$form-font: ("DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Corbel, Verdana, "Verdana Ref", sans-serif);
$code-font : (Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace);
