@charset "UTF-8";

/* Footer - scss/all_sites/_l-footer
-------------------------------------------------------- */

#footer {
  clear: both;
  margin: 3em 0 0;
  padding: 0;

  color: #4c4c4c;

  font: normal .875em Arsenal, "arial narrow", "futura condensed", arial, sans-serif;
  text-align: center;
}

#footer a {
  color: #4c4c4c;
}

// si ça n'est présent que dans le footer pour les icones
// de réseaux sociaux il serait préférable de donner une
// autre classe (aka .social-icon)
.icon a {
  margin-right: .5em;
}

.icon a:hover,
.icon a:focus {
  background-color: transparent;
}

.icon a:hover img,
.icon a:focus img {
  transition: all .5s linear;
  transform: rotate(360deg);
}

.footer-content {
  margin-top: -1.5em;
  padding: 1.5em 0 1em;

  background-color: #a2cbe9;
}

.foot-nav li {
  display: inline-block;
}

.foot-nav a {
  text-decoration: none;
}

.foot-nav a:hover,
.foot-nav a:focus {
  text-decoration: underline;
}
