@charset "UTF-8";

/* Header - scss/all_sites/_l-header
-------------------------------------------------------- */

.header {
  @extend %clearfix;

  background: $bg-header;
}

.header :focus {
  outline-color: #fff;
}

#top {
  position: relative;
  margin-top: 0;
  padding-top: .5em;
  width: 100%;

  @media screen and (min-width: 40em) {
    padding-top: 1.5em;
  }
}

.title {
  margin-bottom: 1.5em;

  font-size: 1em;
  text-align: left;
}

.title a {
  display: block;
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.inner-header {
  padding: 0 .5em;
}
