@charset "UTF-8";

/* Footer - scss/all_sites/_l-layout
-------------------------------------------------------- */

.inner-header,
.inner-subnav,
#wrapper {
  @extend %clearfix;

  max-width: 60em;
  margin: 0 auto;

  @media screen and (min-width: 81em) {
    max-width: 80em;
  }
}

#wrapper {
  clear: both;
  overflow: hidden;
}
