#logo {
  width: 13em;

  @media screen and (min-width: 40em) {
    width: 16em;
  }
}

#logo-square {
  fill: $bg-light-grey;
}

#logo-otclear {
  fill: #fff;
  stroke: #fff;
}

#logo-d {
  fill: $medium-grey;
  stroke: $medium-grey;
}

@media screen and (min-width: 40em) {
  #logo-d,
  #logo-otclear {
    stroke: none;
  }
}

#logo-feuille {
  fill: $accent-3;
}

#logo-tige {
  fill: darken($accent-3, 15%);
}

a:hover #logo-d,
a:hover #logo-feuille,
a:focus #logo-d,
a:focus #logo-feuille {
  fill: darken($accent-3, 15%);
}

a:focus #logo-tige,
a:hover #logo-tige {
  fill: $accent-3;
}

a:focus #logo-otclear,
a:hover #logo-otclear {
  fill: $medium-grey;
}
