@charset "UTF-8";

/* Liens d'évitement - scss/all_sites/_m-skip-links
-------------------------------------------------------- */

.skip-links {
  position: absolute;
}

.skip-links a {
  position: absolute;
  left: -7000px;
  padding: .5em;

  color: #000;

  background: #000;

  text-decoration: none;
}

.skip-links a:focus {
  position: static;

  color: #fff;
}
