@charset "UTF-8";

/* retour haut de page - scss/all_sites/_to-top
// use with script totop.js
-------------------------------------------------------- */

#toTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  width: 110px;
  padding: 5px;

  color: $body-color;

  background: $bg-light-grey;
  border: 1px solid #aaa;
  border-radius: 3px;

  font-size: 1em;
  text-align: center;

  cursor: pointer;
}
