@charset "UTF-8";

/* fil d'ariane - scss/blog/_m-breadcrumb
-------------------------------------------------------- */

#breadcrumb {
  color: $medium-grey;

  font-size: .875em;
  margin: .5em 0 1em;
}

#breadcrumb a {
  color: $medium-grey;
}
