@charset "UTF-8";

/* pagination et navlinks - scss/blog/_m-pagination
-------------------------------------------------------- */

.pagination,
.navlinks {
  font-family: $arsenal;
  text-align: center;
  letter-spacing: .015em;
  @extend %clearfix;
}

.navlinks {
  color: #fff;
}

.pagination, .navlinks {
  margin-top: 3em;
  margin-bottom: 3em;
}

.pagination a, .navlinks a {
  @extend %button;
  @include button-colors($colorStart: $accent-2, $colorText: #fff);
  background-image: none;
  &:after {
    font-size: .875em;
  }
}

.prev {
  float: left;

  &:before {
    content: '\25c4';
    padding-right: 0.25em;
  }
}

.next {
  float: right;

  &:after {
    content: '\25ba';
    padding-left: 0.5em;
  }
}

@media screen and (min-width: 30em) {
  .current-page {
    color: $medium-grey;
    font-size: 1.25em;

    &:after,
    &:before {
      display: inline-block;
      height: 1px;
      content: " ";
      text-shadow: none;
      background-color: $border-light-grey;
      width: 3em;
    }
    &:before {
          margin: 0 1em .25em 0;
    }
    &:after {
          margin: 0 0 .25em 1em;
    }
  }
}
