@charset "UTF-8";

/* billets - scss/blog/_m-post
-------------------------------------------------------- */

// Les spécificités du contexte billet + commentaires
// sont en fin de ce fichier

// -------------------------------- post - boite
.post {
  margin-top: 2.5em;

  &.first {
    margin-top: 0;
  }
}

.dc-home .first {
  border-bottom: 1px dotted $medium-grey;
}

// -------------------------------- titre d'article
.post-title {
  color: $accent-2;
  margin-top: 0;
  font-weight: normal;

  a {
    color: $accent-1;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.full .post-title {
  color: $accent-1;

  font-size: 1.25em;
}

.dc-home .first .post-title {
  margin-bottom: 0;
}

@media all and (min-width: 40em) {
  .dc-home .first .post-title {
      font-size: 3em;
      line-height: 1;
    }
}

// -------------------------------- date
.post-date {
  margin-right: .5em;
  padding: 0 .4em;

  color: $dark-grey;

  background-color: #ececec;
  border-radius: .25em;

  font-size: .875em;
}

.full .post-date {
  background-color: $color_dl-light;

  font-size: 1em;

  @media all and (min-width: 40em) {
    vertical-align: super;
  }
}

// -------------------------------- date + titre

.full,
.short {
  .post-date,
  .post-title {
    display: inline;
    vertical-align: middle;
  }
  .post-date {
    margin-top: .5em;
  }
}

@media all and (min-width: 40em) {
  .dc-home .first .post-date {
    margin-top: .75em;
    }
}

// -------------------------------- post-info
.post-info {
  margin: 0 0 1.5em;

  color: $medium-grey;

  font-size: .875em;
}

.short .post-info {
  margin-top: .75em;
}

.post-info a {
  color: $medium-grey;
}

.post-info:before {
  display: inline-block;
  width: .75em;
  height: .75em;
  margin-right: .25em;

  color: red;

  background: $accent-3;

  content: "";
}

// short, full: à intégrer en spans dans les post-info
// lors de la refactorisation des templates
.post-tags {
  margin: 1em 0 1em;
  padding: 3px 0;

  list-style: none;
}

.post-tags li {
  display: inline;
  margin-right: 8px;
  padding: 5px 0 5px 22px;

  background: transparent url(../i/tag.png) no-repeat 0 70%;
}

.post-tags li a {
  color: $medium-grey;

  &:before {
    content: '\0023';
  }
}

// Entry first img
.post-icon {
  float: left;
  margin-right: .5em;
}

.post-icon + p {
  margin-top: 0;
}

// à revoir avec icones svg
.share {
  display: block;
  width: 389px;
  height: 26px;
  margin: 10px 0;
  padding: 5px 0 0;

  background: transparent url(../i/share.png) no-repeat left center;

  font-size: .875em;
}

.share a {
  padding: 0 14px 0 31px;

  text-decoration: none;
}

.share a:hover,
.share a:focus {
  background: transparent;

  text-decoration: underline;
}

/* Post content
-------------------------------------------------------- */

@media screen and (min-width: 40em) {
  .full .post-content,
  .full .post-excerpt {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.short .post-content {
  @extend %clearfix;
}

.short .post-content,
.short .post-excerpt {
  p {
    margin: 0;
  }
}

.post h3, .post h4 {
  font-family: $arsenal;
}

.post-content ul,
.post-excerpt ul,
.post-content ol,
.post-excerpt ol {
  margin: 0 0 .5em 0;
}

.post-content blockquote,
.post-excerpt blockquote {
  margin: 4px 0 4px 0;
  padding: 0 5px;

  border-left: 4px solid #bfbfbf;
}



// -------------------------------- lire la suite
.read-it {
  margin-top: .75em;
}
.read-it a {
  color: $medium-grey;
}

// ============================== contexte billet + commentaires
// aka _simple-entry.html ou _page.html
// pages de class .dc-post et .dc-page
// WARNING: layout spécial dans _l-wrapper

.dc-page,
.dc-post {
  .post-title, .post-attr {
    text-align: center;
  }
}


@media all and (min-width: 40em) {
  .simple .post-title {
    margin-top: 1em;
    font-size: 3em;
    line-height: 1;
  }
}

.simple .post-attr {
  padding: 0 0 .5em;
  border-bottom: 1px solid $border-light-grey;
  margin-bottom: 1em;
  margin-top: .5em;
  font-style: italic;
  color: $medium-grey;

  a:link, a:visited {
    color: $medium-grey;
  }

  & p:first-child {
    margin-bottom: 0;
  }
}

.simple .post-tags {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: .875em;
}

@media screen and (min-width: 40em) {
  .simple .post-content,
  .simple .post-excerpt {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.simple .post-content,
.simple .post-excerpt {
  font-size: 1.125em;
}

.simple h3 {
  color: $dark-grey;
  @media screen and (min-width: 40em) {
    font-size: 1.75em;
  }
}

.simple h4 {
  @media screen and (min-width: 40em) {
    font-size: 1.25em;
  }
  font-weight: bold;
  color: $medium-grey;
}

// attachments
#attachments h3 {
  font-size: 1.2em;
}

#attachments ul {
  margin: 0;
  padding: 4px 0;

  list-style: none;
}

#attachments li {
  margin: 0 0 .6em;
  padding: 2px 10px 2px 18px;

  background: transparent url(../i/attach.png) no-repeat 0 50%;
}

#attachments li object {
  display: inline;
  margin: 0;
  padding: 0;

  vertical-align: bottom;
}
