@charset "UTF-8";

/* recherche - scss/blog/_m-search
-------------------------------------------------------- */

#search {
  margin: 0 .5em;

  @media screen and (min-width: 40em) {
    float: right;
    font-size: .875em;
  }
  p { margin-bottom: 0;}
}

#search label {
  margin-right: .5em;
}

#q {
  width: 18em;
  padding-right: 20px;
  padding-left: .5em;

  color: $body-color;

  background: white url(../i/loupe.png) no-repeat 16em center;
  border: 1px solid $border-light-grey;
  border-radius: 3px;

  line-height: 1.75;
}

:focus::placeholder {
  color: $bg-light-grey;
}

// à réfléchir : remplacer le "ok" par la loupe ?
.btn-search {
  background-color: #fff;
  border: 1px solid (darken($border-light-grey, 10%));
}
