@charset "UTF-8";

/* tableaux - blog/_m-tables 
// à mutualiser dans all_sites ?
-------------------------------------------------------- */

table,
.table {
  max-width: 100%;

  table-layout: fixed;

  border-collapse: collapse;

  vertical-align: top;
}

table {
  width: 100%;
}

.table {
  display: table;
}

table#recaptcha_table,
table.table-auto {
  table-layout: auto;
}

caption {
  padding: 10px;

  color: $dark-grey;

  font-style: italic;
}

table {
  border: 1px solid $border-light-grey;
}

tr > * + * {
  border-left: 1px solid $border-light-grey;
}

th,
td {
  padding: .3em .8em;

  border-bottom: 1px solid $border-light-grey;

  text-align: left;
}

td {
  color: $body-color;
}

/* alternate tables */
.alternate {
  border: 0;
}

.alternate tbody {
  border: 1px solid $border-light-grey;
}

.alternate thead tr > * + * {
  border-left: 0;
}

.alternate tbody tr > * + * {
  border-left: 1px solid $border-light-grey;
}

/* alternate-vert tables */
.alternate-vert {
  border: 0;
  border-right: 1px solid $border-light-grey;
}

.alternate-vert tr > :first-child {
  border-bottom: 0;
}

.alternate-vert tr > * + * {
  border-top: 1px solid $border-light-grey;
}

/* striped tables */
.striped tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, .05);
}

/* striped-vertical tables */
.striped-vert tr > :first-child {
  background: rgba(0, 0, 0, .05);
}
