@charset "UTF-8";

/* --------------------------------------------------------
/* Accueil général dc.org/net - blog/_p-home-dc.scss
/* ----------------------------------------------------- */

/* -------------------------------------------------------- top */
.title {
  margin-bottom: .5em;
  @media screen and (min-width: 30em) {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}

////////////////////////////// top
.ctrl-blog {
  margin-bottom: 1.5em;
}

.slogan h2 {
  margin-top: .5em;

  text-shadow: 1px 2px 3px rgba(109, 110, 116, .4);

  font-family: $srcsans;
  font-size: 2em;
  line-height: 1.25;
  @media screen and (min-width: 30em) {
    margin-top: 1em;
  }
}

.presentation {
  font-size: 1.125em;
}

.download {
  margin-top: 2em;

  text-align: center;
}

////////////////////////////// media queries top
@media screen and (min-width: 52em) {
  .dc-index .title {
    text-align: center;
  }

  .ctrl-blog {
    margin: 4em 0 3em;

    text-align: center;
  }

  .slogan h2 {
    font-size: 3.75em;
  }

  .presentation {
    margin: 0 auto 2em;

    font-size: 1.25em;
    line-height: 1.75;
  }
}

////////////////////////////// download
a.dl {
  padding: .5em 2em .5em 4em;

  font-family: $arsenal;
  font-size: 1.125em;

  text-transform: uppercase;

  @extend %button;
  @include button-colors($accent-3);
}

a.dl:before {
  position: absolute;
  top: -12px;
  left: 1em;

  display: block;

  width: 36px;
  height: 40px;

  background: transparent url(../i/dl-arrow.png) no-repeat 0 0;

  content: "";
}

/* -------------------------------------------------------- nav */
////////////////////////////// navigation specificités home

@media screen and (min-width: 40em) {
  .dc-index .nav-primary {
    background: $medium-grey;

    text-align: center;
  }

  .dc-index .nav-primary ul {
    margin: 0 auto;
  }

  .dc-index .nav-primary a {
    color: #fff;
  }

  .dc-index .nav-primary a:hover,
  .dc-index .nav-primary a:focus,
  .dc-index .nav-primary .cur {
    color: $body-color;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/* -------------------------------------------------------- features */

#home-main {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 .5em;

  @extend %clearfix;
}

.features {
  margin: 2em -.5em;
  padding: 1em;

  background: $bg-light-grey url(../i/ticks.png);

  text-align: center;

  @extend %clearfix;
}

.screenshot {
  box-shadow: 0 1px 3px #aaa;
}

.features-txt {
  text-align: left;
  @media screen and (min-width: 40em) {
    float: left;

    width: 48%;
  }
}

.screenshot {
  @media screen and (min-width: 40em) {
    float: right;

    width: 48%;
  }
}

.features li {
  padding: 2px 0 2px 1.5em;

  list-style: none;

  background-image: url(../i/feat_sprite.png);
  background-image: url(../i/feat_sprite.svg), none;
  background-repeat: no-repeat;

  text-align: left;
}

.features li.f-install {
  background-position: -10px -4px;
}

.features li.f-users {
  background-position: -10px -78px;
}

.features li.f-extend {
  background-position: -10px -258px;
}

.features li.f-media {
  background-position: -10px -150px;
}

.features li.f-antispam {
  background-position: -10px -222px;
}

.features li.f-pages {
  background-position: -10px -114px;
}

.features li.f-lang {
  background-position: -10px -186px;
}

.features li.f-gpl {
  background-position: -10px -294px;
}

.features li.f-a11y {
  background-position: -10px -42px;
}

.more {
  margin: 0 0 2em;

  font-size: .875em;
}

.features-txt + p {
  // pour aller choper le paragraphe qui contient l'image…
  margin-top: .25em;
}

.features-txt + p + p {
  clear: both;

  padding-top: .5em;
}

.end-features {
  text-align: left;
}

/* -------------------------------------------------------- univers */
// aka div.dc-index-content
.dc-index-content h2 {
  @media screen and (min-width: 40em) {
    font-size: 2.5em;
  }
}

.primary-zone h3 {
  margin-bottom: 0;

  font-family: $arsenal;
}

.da-title {
  color: $color_da;
}

.co-title {
  color: $color_co;
}

.dc-index-content p {
  margin: .75em 0 0 0;
}

.secondary-zone h3 {
  font-family: $arsenal;
  font-size: 1.25em;
}

.da-zone .secondary-zone h3 {
  color: $accent-1;
}

.da-zone h2 {
  padding-top: 1em;
}

.codev-zone .secondary-zone h3 {
  color: $accent-2;
}

.news h3 {
  margin-bottom: 1em;
}
.news .post-date,
.news .post-title {
  display: inline-block;

  margin-bottom: 0;

  vertical-align: middle;
}
.news .post-title a {
  color: $dark-grey;

  font-size: 1em;
  font-weight: bold;
}
// layout de cette page
.da-zone,
.codev-zone {
  @extend %clearfix;
}

/* Coeur */

.heartbeat {
  display: inline-block;

  margin: 0 0 0 .2em;
  padding: 0;

  color: $accent-3;

  font-size: 6em;
  line-height: .4em;

  text-align: center;
  vertical-align: bottom;

  -webkit-animation: pulse 2s linear 10;
     -moz-animation: pulse 2s linear 10;
      -ms-animation: pulse 2s linear 10;
          animation: pulse 2s linear 10;
}

@keyframes "pulse" {
  0% {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(.8);
       -moz-transform: scale(.8);
        -ms-transform: scale(.8);
         -o-transform: scale(.8);
            transform: scale(.8);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1.1);
         transform: scale(1.1);
  }
  50% {
    -moz-transform: scale(.8);
         transform: scale(.8);
  }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
}

@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-ms-keyframes "pulse" {
  0% {
    -ms-transform: scale(1.1);
        transform: scale(1.1);
  }
  50% {
    -ms-transform: scale(.8);
        transform: scale(.8);
  }
  100% {
    -ms-transform: scale(1);
        transform: scale(1);
  }
}

@media screen and (min-width: 40em) {
  .primary-zone {
    float: left;

    width: 68%;
  }
  .secondary-zone {
    float: right;

    width: 28%;
    padding-top: .5em;
    h3 ~ h3 {
      margin-top: 2em;
    }
  }
}
