
.left {
	float: left;
}

.right {
	float: right;
}

h2 a:link, h2 a:visited {
	color: inherit;
}

#content-info {
	margin-top: 1em;
	padding: 0 0.5em;
}
#content-info h2 {
	color: #012d52;
}

span.post-title {
	display: block;
	font-size: 130%;
}

.post {
	padding-left: 50px;
	clear: left;
	margin-top: 2em;
}
.post h2 {
	margin-bottom: 0.2em;
}
.post .day-date {
	float: left;
	width: 40px;
	margin: 0 10px 0 -50px;
	font-size: 95%;
}
.post .day-date span {
	display: block;
	text-align: center;
}
.post .day-date .dmonth {
	padding: 3px 0;
	background: #031f4c url(i/dmonth.png) no-repeat top;
	color: #fff;
}
.post .day-date .dday {
	padding: 3px 0;
	font-size: 160%;
	background: #7c8189 url(i/dday.png) no-repeat bottom;
	color: #fff;
	font-weight: bold;
}
p.post-info {
	margin-top: 0;
}
a.comment_count {
	padding-left: 16px;
	margin-right: 10px;
	background: transparent url(i/comment.png) no-repeat 0 0.15em;
}
a.ping_count {
	padding-left: 16px;
	background: transparent url(i/trackback.png) no-repeat 0 0.15em;
}

#comments dt, #comments dd, #pings dt, #pings dd {
	margin: 0 0 0 50px;
}
#comments dt, #pings dt {
	clear: left;
}
a.comment-number, a.ping-number {
	display: block;
	float: left;
	width: 40px;
	height: 27px;
	margin: 0 10px 0 -50px;
	padding: 9px 0 0 0;
	border: none;
	font-size: 130%;
	text-align: center;
	line-height: 1em;
	color: #fff;
	background: #eba31f url(i/comment_num.png) no-repeat top;
}

.tag0 { font-size: 75%; }
.tag10 { font-size: 80%; }
.tag20 { font-size: 90%; }
.tag30 { font-size: 100%; }
.tag40 { font-size: 110%; }
.tag50 { font-size: 120%; }
.tag60 { font-size: 140%; }
.tag70 { font-size: 150%; }
.tag80 { font-size: 160%; }
.tag90 { font-size: 170%; }
.tag100 { font-size: 180%; }

ul.post-tags {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}
ul.post-tags li {
	display: inline;
	margin-right: 6px;
	padding-left: 10px;
	background: transparent url(i/bullet_star.png) no-repeat 0 0.25em;
}

ul.tags {
	list-style: none;
	margin: 1em 0;
	padding: 0;
	font-size: 1.3em;
	text-align: justify;
}
ul.tags li {
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 1.8em;
}

a.feed {
	background: transparent url(i/feed.png) no-repeat 0 0;
	padding-left: 18px;
	border: none;
}

/* Sidebar
-------------------------------------------------------- */
ul.sidebar {
	background: #626b73;
	list-style: none;
	margin: 0;
	padding: 4px 0 4px 0.5em;
	overflow: hidden;
}
ul.sidebar li {
	display: block;
	float: left;
	list-style-image: none;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	border-right: 1px solid #fff;
	color: #fff;
	text-transform: uppercase;
}
ul.sidebar li.last {
	border-right: none;
}
ul.sidebar li a {
	color: #fff;
}
ul.sidebar li a:hover, ul.sidebar li a:focus {
	color: #fff;
}

div.sidebar {
	color: #fff;
	background: #626b73;
	padding: 1px 0.5em;
}
div.sidebar div {
	padding: 1em 0;
}
div.sidebar div div {
	padding: 0;
}
div.sidebar a {
	color: #fff;
}
div.sidebar h2 {
	display: none;
}
div.sidebar h3 {
	margin: 0;
}
div.sidebar p {
	margin: 0;
}
div.sidebar ul {
	margin-top: 0;
	margin-bottom: 0.5em;
}
div.sidebar li {
	list-style-image: none;
}
div.sidebar fieldset {
	background: transparent;
	padding: 0;
	margin: 0;
}

#sidebar div.tags ul {
	display: block;
	list-style: none;
	margin: 0;
	font-size: 110%;
}
#sidebar div.tags li {
	display: inline;
}

/* Comments */
textarea#c_content {
	width: 550px;
}