/* --------------------------------------------------------
Dotclear.net (c) 2008. All rights reserved.
---------------------------------------------------------*/

/* Layout
-------------------------------------------------------- */
#d-top {
	margin: 0;
	padding: 0;
	height: 50px;
	background: #030e1a url(i/top_bg.png) repeat-x top left;
	color: #fff;
}
#d-innertop {
	width: 760px;
	margin: 0 auto;
}
#d-top h1 {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
	position: relative;
}
#d-top h1 a {
	position: absolute;
	top: 8px;
	left: 0;
	width: 250px;
	height: 64px;
	background: transparent url(i/dotclear.png) no-repeat top left;
	border: none;
	outline: none;
}
#d-top h1.dotclear-lab a {
	width: 298px;
	background-image: url(i/dotclear-lab.png);
}

#d-userinfo {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0;
	font: 1.1em Verdana,Arial,Geneva,sans-serif;
	color: #fff;
	background: transparent;
}
#d-userinfo p {
	width: 760px;
	margin: 0 auto;
	text-align: right;
}
#d-userinfo a {
	font-weight: bold;
	color: #fff;
}
#d-userinfo input[type=text], #d-userinfo input[type=password] {
	border-color: #b9b4ac;
	background: #b9b4ac;
	color: #000;
}
#d-userinfo input[type=submit] {
	padding-left: 2px;
	padding-right: 2px;
}

/* Main navigation bar */
#d-mainnav {
	background: #030e1a url(i/wdot.png) repeat-x bottom left;
	margin: 0 0 0 0;
	padding: 4px 2px 0 0;
	border: none;
}
#d-mainnav div {
	width: 760px;
	margin: 0 auto;
	overflow: hidden;
}
#d-mainnav ul {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;
	float: right;
}
#d-mainnav li {
	display: block;
	float: left;
	padding: 5px 2px 5px 0;
	margin: 0 0 0 2px;
	border: none;
	font: bold 1.4em "Trebuchet MS",Verdana,Arial,Geneva,sans-serif;
	background: transparent no-repeat 100% 0;
}
#d-mainnav a {
	outline: none;
}
#d-mainnav :link, #d-mainnav :visited,
* html #d-mainnav :link, * html #d-mainnav :visited {
	padding: 5px 10px;
	background: transparent no-repeat 0 0;
	border: none;
	color: #eba31f;
	text-decoration: none;
}
#d-mainnav :link:hover, #d-mainnav :visited:hover,
#d-mainnav .active :link:hover, #d-mainnav .active :visited:hover {
	border: none;
	background-color: transparent;
	text-decoration: underline;
}

#d-mainnav li.active {
	background-image: url(i/tab_r.png);
	background-color: #626b73;
}
#d-mainnav .active :link, #d-mainnav .active :visited {
	padding-left: 20px;
	padding-right: 20px;
	background: transparent url(i/tab_l.png) no-repeat 0 0;
	border: none;
	color: #f2ddb8;
	text-decoration: underline;
}

#d-subnav {
	background: #626b73;
	padding: 7px 0;
}
#d-subnav div {
	margin: 0 auto;
	width: 760px;
	position: relative;
}
#d-subnav ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	font: 1.1em Verdana,Arial,Geneva,sans-serif;
	color: #fff;
	text-align: right;
}
#d-subnav li {
	display: inline;
	border-right: 1px solid #d2d6cb;
	padding: 0 0.5em;
}
#d-subnav li:last-child {
	border-right: none;
	padding-right: 0;
}
#d-subnav a {
	color: #fff;
	text-decoration: none;
	outline: none;
}
#d-subnav a:hover, #d-subnav a:focus {
	text-decoration: underline;
}

#d-langswitcher {
	display: inline;
	position: absolute;
	top: -2px;
	left: 0;
}
#d-langswitcher p {
	display: inline;
	margin: 0;
}
#d-langswitcher noscript {
	display: inline;
}

#d-search {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 760px;
	overflow: hidden;
	font-size: 1.1em;
}
#d-search p {
	float: left;
}
#d-search form {
	display: block;
	float: right;
}
#search div {
	padding: 2px 0 2px 20px;
	background: transparent url(i/search_bg.png) no-repeat bottom left;
}
#search div input {
	margin: 2px 0;
}
 

/* Content */
#d-wrapper {
	width: 760px;
	margin: 0 auto;
	clear: right;
	font-size: 1.2em;
}
#d-main {
	width: 100%;
}
#d-content {}

/* Sites map */
#d-sitesmap {
	clear: both;
	border-top: 1px solid #c2c1b1;
	margin-top: 2em;
	padding: 4px 0;
	background: transparent url(i/map_bg.png) repeat-x top;
}
#d-sitesmap h2 {
	display: none;
}
#d-sitesmap ul {
	display: block;
	width: 760px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	color: #666;
}
#d-sitesmap ul li {
	display: block;
	list-style: none;
	float: left;
	width: 152px;
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	color: #fff;
}
#d-sitesmap ul ul {
	width: auto;
	margin: 8px 0 0 0;
}
#d-sitesmap ul ul li {
	float: none;
	width: auto;
	font-size: 0.8em;
	margin: 2px 0;
	color: #000;
}


#d-footer {
	margin-top: 2em;
	clear: both;
	text-align: center;
}