</div> <!-- End #d-content -->
</div> <!-- End #d-main -->
</div> <!-- End #d-wrapper -->

<div id="d-sitesmap">{{tpl:SitesMap}}</div>

<div id="d-footer">
<p>{{tpl:BlogCopyrightNotice encode_html="1"}}</p>
</div>

<script type="text/javascript">
var ga_codes = {
  'dotclear.org': 'UA-334457-5',
  'fr.dotclear.org': 'UA-334457-4'
};
if (ga_codes[document.location.hostname] != undefined) {
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script type="text/javascript">
if (ga_codes[document.location.hostname] != undefined) {
  try {
    var pageTracker = _gat._getTracker(ga_codes[document.location.hostname]);
    pageTracker._trackPageview();
  } catch (e) {}
}
</script>