<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:EntryTitle}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}</title>
  <meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}" />
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:EntryTitle}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}" />
  <meta name="dc.description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogDescription encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="section" href="/download" title="{{tpl:lang Download Dotclear}}" />
  <link rel="section" href="/about" title="{{tpl:lang About Dotclear}}" />
  <link rel="section" href="/blog/" title="{{tpl:lang Dotclear Blog}}" />
  <link rel="section" href="/donate" title="{{tpl:lang Make a donation to Dotclear}}" />
  
  {{tpl:include src="_head.html"}}
  <style type="text/css">
  @import url(/style/home.css);
  </style>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/_index.js"></script>
</head>

<body>
{{tpl:include src="_top.html"}}

{{tpl:EntryContent}}

<div class="two-cols">
<div class="col" id="news">
  <h2>{{tpl:lang News}}</h2>
  <tpl:Entries lastn="7">
    <tpl:EntriesHeader>
      <dl>
    </tpl:EntriesHeader>
    
    <dt><span class="date"><span class="dmonth">{{tpl:EntryDate format="%Y"}} <span>{{tpl:EntryDate format="%b"}}</span></span>
    <span class="dday">{{tpl:EntryDate format="%e"}}</span></span>
    <a href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></dt>
    
    <dd><p class="news-content">{{tpl:EntryContent full="1" remove_html="1" encode_html="1" cut_string="200"}}...</p></dd>
	  
    <tpl:EntriesFooter>
      </dl>
    </tpl:EntriesFooter>
  </tpl:Entries>
  <p class="listapart"><a href="/blog/">{{tpl:lang Dotclear Blog}}</a></p>
</div>

<div class="col" id="sidebar">
  <tpl:Entries url="include-index-sidebar" type="page" lastn="1" no_context="1">
  {{tpl:EntryContent}}
  </tpl:Entries>
</div>

</div>

{{tpl:include src="_footer.html"}}

</body>
</html>