<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:EntryTitle}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}</title>
  <meta name="description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryContent full="1" encode_html="1" remove_html="1" cut_string="180"}}" />
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:EntryAuthorCommonName encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:EntryDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" content="{{tpl:EntryTitle encode_html="1"}}" />
  <meta name="dc.description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryTitle}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}" />
  <meta name="dc.creator" content="{{tpl:EntryAuthorCommonName encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:EntryLang}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:EntryDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="/" title="{{tpl:lang Home}}" />
  
  <link rel="section" href="/download" title="{{tpl:lang Download Dotclear}}" />
  <link rel="section" href="/about" title="{{tpl:lang About Dotclear}}" />
  <link rel="section" href="/blog/" title="{{tpl:lang Dotclear Blog}}" />
  <link rel="section" href="/donate" title="{{tpl:lang Make a donation to Dotclear}}" />
  
  {{tpl:include src="_head.html"}}
  
  <tpl:EntryIf url="about">
    <style type="text/css">
    @import url(/js/modal/modal.css);
    @import url(/style/about.css);
    </style>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.pageTabs.js"></script>
    <script type="text/javascript" src="/js/modal/modal.js"></script>
    <script type="text/javascript" src="/js/_about.js"></script>
  </tpl:EntryIf>
  <tpl:EntryIf url="association">
    <style type="text/css">
    @import url(/style/about.css);
    </style>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.pageTabs.js"></script>
    <script type="text/javascript" src="/js/_association.js"></script>
  </tpl:EntryIf>
  
  <!-- # <tpl:EntryIf url="extend">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.reflect.js"></script>
    <script type="text/javascript" src="/js/_modules.js"></script>
  </tpl:EntryIf> -->
</head>

<body>
{{tpl:include src="_top.html"}}


<h1>{{tpl:EntryTitle encode_html="1"}}</h1>

{{tpl:EntryExcerpt}}
{{tpl:EntryContent}}

<!-- # Affiliates page -->
<tpl:EntryIf url="affiliates">
{{tpl:Affiliates}}
</tpl:EntryIf>

{{tpl:include src="_footer.html"}}

</body>
</html>
